<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <div class="d-flex align-items-center gap-5 justify-content-end w-100">
        <div class="w-100">
            <button class="btn btn-light float-right" type="button" (click)="logout()">Logout</button>
        </div>

        <div class="d-flex align-items-center">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.email}}</span>
            <img class="rounded-circle" style="width: 30px; height: 30px;" [src]="user.avatar">
        </div>
    </div>
</nav>