<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Update User</h1>
        <a [routerLink]="'/user-list'" class="btn btn-primary">Go back</a>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <form class="p-3 overflow-auto" #form="ngForm">
                    <div class="d-flex align-items-center gap-3">
                        <div class="form-group w-100">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" [(ngModel)]="user.email" name="email" id="email"
                                required minlength="11" #email="ngModel"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                [class.is-invalid]="email.invalid && email.touched">

                            <div *ngIf="email.errors && (email.dirty && email.touched)" class="alert alert-danger">
                                <small class="text-danger d-block" [hidden]="!email.errors['pattern']">
                                    The email must be an email
                                    format
                                </small>

                                <small class="text-danger d-block" [hidden]="!email.errors['required']">
                                    The email should not be empty
                                </small>

                                <small class="text-danger d-block" [hidden]="!email.errors['minlength']">
                                    The email should be at least 11
                                    characters long
                                </small>
                            </div>
                        </div>
                        <div class="form-group w-100">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" [(ngModel)]="user.name" name="name" id="name"
                                required minlength="1" maxlength="20" #name="ngModel"
                                [class.is-invalid]="name.invalid && name.touched">
                            <div *ngIf="name.errors && (name.dirty && name.touched)" class="alert alert-danger">
                                <small class="text-danger d-block" [hidden]="!name.errors['required']">
                                    The name should not be empty
                                </small>

                                <small class="text-danger d-block" [hidden]="!name.errors['minlength']">
                                    The name should be at least 1
                                    characters long
                                </small>
                            </div>
                        </div>
                    </div>


                    <div *ngIf="error.length > 0" [className]="'form-group w-50 border border-danger py-2 rounded'">
                        <ul class="my-0 py-0">
                            <li class="text-danger">{{error}}</li>
                        </ul>
                    </div>

                    <div class="form-group w-100 d-flex justify-content-end">
                        <button class="btn btn-primary" (click)="updateUser()">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>